
cmake-build-release/

lib/

cmake-build-debug/

build/

.vscode/

.idea/
.cache/

output0.jpg

output1.jpg

output2.jpg

output3.jpg

output4.jpg

output5.jpg

output6.jpg

output7.jpg

imgs/32.jpg

.clion.source.upload.marker

331/.cmake/api/v1/query/cache-v2

331/.cmake/api/v1/query/cmakeFiles-v1

331/.cmake/api/v1/query/codemodel-v2

331/.cmake/api/v1/query/toolchains-v1

331/.cmake/api/v1/reply/cache-v2-e80235d978b39f8418ad.json

331/.cmake/api/v1/reply/cmakeFiles-v1-cc70c2af4e42a860988c.json

331/.cmake/api/v1/reply/codemodel-v2-1e50e7267cfc4d00c92e.json

331/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json

331/.cmake/api/v1/reply/directory-bench-Debug-921a23b3a245208c3b5e.json

331/.cmake/api/v1/reply/directory-test-Debug-451c0598f41488bb20b9.json

331/.cmake/api/v1/reply/index-2023-09-06T01-51-56-0493.json

331/.cmake/api/v1/reply/target-bench_kuiper-Debug-ce7c725e58a6037a6478.json

331/.cmake/api/v1/reply/target-kuiper-Debug-064840e8a7b73d477e3a.json

331/.cmake/api/v1/reply/target-test_kuiper-Debug-4617dfeb5347fe6da850.json

331/.cmake/api/v1/reply/toolchains-v1-99265b04de7ada3aac9e.json

331/.ninja_deps

331/.ninja_log

331/bench/cmake_install.cmake

331/bench/CMakeFiles/bench_kuiper.dir/build.make

331/bench/CMakeFiles/bench_kuiper.dir/cmake_clean.cmake

331/bench/CMakeFiles/bench_kuiper.dir/depend.make

331/bench/CMakeFiles/bench_kuiper.dir/DependInfo.cmake

331/bench/CMakeFiles/bench_kuiper.dir/flags.make

331/bench/CMakeFiles/bench_kuiper.dir/link.txt

331/bench/CMakeFiles/bench_kuiper.dir/progress.make

331/bench/CMakeFiles/CMakeDirectoryInformation.cmake

331/bench/CMakeFiles/progress.marks

331/bench/CTestTestfile.cmake

331/bench/Makefile

331/build.ninja

331/cmake_install.cmake

331/CMakeCache.txt

331/CMakeFiles/3.16.3/CMakeCCompiler.cmake

331/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake

331/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin

331/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin

331/CMakeFiles/3.16.3/CMakeSystem.cmake

331/CMakeFiles/3.16.3/CompilerIdC/a.out

331/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c

331/CMakeFiles/3.16.3/CompilerIdCXX/a.out

331/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

331/CMakeFiles/3.26.4/CMakeCCompiler.cmake

331/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake

331/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin

331/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin

331/CMakeFiles/3.26.4/CMakeSystem.cmake

331/CMakeFiles/3.26.4/CompilerIdC/a.out

331/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c

331/CMakeFiles/3.26.4/CompilerIdCXX/a.out

331/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp

331/CMakeFiles/clion-Debug1-log.txt

331/CMakeFiles/clion-environment.txt

331/CMakeFiles/cmake.check_cache

331/CMakeFiles/CMakeConfigureLog.yaml

331/CMakeFiles/CMakeDirectoryInformation.cmake

331/CMakeFiles/CMakeError.log

331/CMakeFiles/CMakeOutput.log

331/CMakeFiles/FindOpenMP/ompver_C.bin

331/CMakeFiles/FindOpenMP/ompver_CXX.bin

331/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c

331/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp

331/CMakeFiles/FindOpenMP/OpenMPTryFlag.c

331/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp

331/CMakeFiles/kuiper.dir/build.make

331/CMakeFiles/kuiper.dir/cmake_clean.cmake

331/CMakeFiles/kuiper.dir/CXX.includecache

331/CMakeFiles/kuiper.dir/depend.internal

331/CMakeFiles/kuiper.dir/depend.make

331/CMakeFiles/kuiper.dir/DependInfo.cmake

331/CMakeFiles/kuiper.dir/flags.make

331/CMakeFiles/kuiper.dir/link.txt

331/CMakeFiles/kuiper.dir/progress.make

331/CMakeFiles/kuiper.dir/source/data/load_data.cpp.o

331/CMakeFiles/kuiper.dir/source/data/tensor_utils.cpp.o

331/CMakeFiles/kuiper.dir/source/data/tensor.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/abstract/layer_factory.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/abstract/layer.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/abstract/param_layer.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/activation_sse.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/adaptive_avgpooling.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/batchnorm2d.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/cat.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/convolution.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/expression.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/flatten.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/hardsigmoid.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/hardswish.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/linear.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/maxpooling.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/relu.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/sigmoid.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/silu.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/softmax.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/upsample.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/view.cpp.o

331/CMakeFiles/kuiper.dir/source/layer/details/yolo_detect.cpp.o

331/CMakeFiles/kuiper.dir/source/parser/parse_expression.cpp.o

331/CMakeFiles/kuiper.dir/source/runtime/pnnx/ir.cpp.o

331/CMakeFiles/kuiper.dir/source/runtime/pnnx/store_zip.cpp.o

331/CMakeFiles/kuiper.dir/source/runtime/runtime_ir.cpp.o

331/CMakeFiles/kuiper.dir/source/runtime/runtime_op.cpp.o

331/CMakeFiles/kuiper.dir/source/utils/time/time_logging.cpp.o

331/CMakeFiles/Makefile.cmake

331/CMakeFiles/Makefile2

331/CMakeFiles/progress.marks

331/CMakeFiles/rules.ninja

331/CMakeFiles/TargetDirectories.txt

331/compile_commands.json

331/CTestTestfile.cmake

331/demos/cmake_install.cmake

331/demos/CMakeFiles/CMakeDirectoryInformation.cmake

331/demos/CMakeFiles/progress.marks

331/demos/Makefile

331/demos/resnet/cmake_install.cmake

331/demos/resnet/CMakeFiles/CMakeDirectoryInformation.cmake

331/demos/resnet/CMakeFiles/progress.marks

331/demos/resnet/CMakeFiles/resnet_test.dir/build.make

331/demos/resnet/CMakeFiles/resnet_test.dir/cmake_clean.cmake

331/demos/resnet/CMakeFiles/resnet_test.dir/depend.make

331/demos/resnet/CMakeFiles/resnet_test.dir/DependInfo.cmake

331/demos/resnet/CMakeFiles/resnet_test.dir/flags.make

331/demos/resnet/CMakeFiles/resnet_test.dir/link.txt

331/demos/resnet/CMakeFiles/resnet_test.dir/progress.make

331/demos/resnet/Makefile

331/demos/unet/cmake_install.cmake

331/demos/unet/CMakeFiles/CMakeDirectoryInformation.cmake

331/demos/unet/CMakeFiles/progress.marks

331/demos/unet/CMakeFiles/unet_test.dir/build.make

331/demos/unet/CMakeFiles/unet_test.dir/cmake_clean.cmake

331/demos/unet/CMakeFiles/unet_test.dir/depend.make

331/demos/unet/CMakeFiles/unet_test.dir/DependInfo.cmake

331/demos/unet/CMakeFiles/unet_test.dir/flags.make

331/demos/unet/CMakeFiles/unet_test.dir/link.txt

331/demos/unet/CMakeFiles/unet_test.dir/progress.make

331/demos/unet/Makefile

331/demos/yolo/cmake_install.cmake

331/demos/yolo/CMakeFiles/CMakeDirectoryInformation.cmake

331/demos/yolo/CMakeFiles/progress.marks

331/demos/yolo/CMakeFiles/yolo_test.dir/__/image_util.cpp.o

331/demos/yolo/CMakeFiles/yolo_test.dir/build.make

331/demos/yolo/CMakeFiles/yolo_test.dir/cmake_clean.cmake

331/demos/yolo/CMakeFiles/yolo_test.dir/CXX.includecache

331/demos/yolo/CMakeFiles/yolo_test.dir/depend.internal

331/demos/yolo/CMakeFiles/yolo_test.dir/depend.make

331/demos/yolo/CMakeFiles/yolo_test.dir/DependInfo.cmake

331/demos/yolo/CMakeFiles/yolo_test.dir/flags.make

331/demos/yolo/CMakeFiles/yolo_test.dir/link.txt

331/demos/yolo/CMakeFiles/yolo_test.dir/progress.make

331/demos/yolo/CMakeFiles/yolo_test.dir/yolo_test.cpp.o

331/demos/yolo/Makefile

331/demos/yolo/yolo_test

331/kuiper_infer.cbp

331/Makefile

331/test/cmake_install.cmake

331/test/CMakeFiles/CMakeDirectoryInformation.cmake

331/test/CMakeFiles/progress.marks

331/test/CMakeFiles/test_kuiper.dir/build.make

331/test/CMakeFiles/test_kuiper.dir/cmake_clean.cmake

331/test/CMakeFiles/test_kuiper.dir/depend.make

331/test/CMakeFiles/test_kuiper.dir/DependInfo.cmake

331/test/CMakeFiles/test_kuiper.dir/flags.make

331/test/CMakeFiles/test_kuiper.dir/link.txt

331/test/CMakeFiles/test_kuiper.dir/progress.make

331/test/CMakeFiles/test_kuiper.dir/test_data/test_load_data.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_data/test_tensor.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_data/test_utensor.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_average_pooling.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_batchnorm.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_cat.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_conv.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_deconv.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_expression.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_flatten.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_hardsigmoid.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_hardswish.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_layer_factory.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_linear.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_maxpooling.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_param_layer.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_relu.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_reshape.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_sigmoid.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_silu.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_softmax.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_upsample.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_layer/test_view.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_main.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_net/test_classify_net.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_net/test_yolo.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_runtime/test_attr.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_runtime/test_param.cpp.o

331/test/CMakeFiles/test_kuiper.dir/test_runtime/test_runtime_ir.cpp.o

331/test/CTestTestfile.cmake

331/test/Makefile

331/test/test_kuiper

331/Testing/Temporary/LastTest.log

cmake-build-debug1/.cmake/api/v1/query/cache-v2

cmake-build-debug1/.cmake/api/v1/query/cmakeFiles-v1

cmake-build-debug1/.cmake/api/v1/query/codemodel-v2

cmake-build-debug1/.cmake/api/v1/query/toolchains-v1

cmake-build-debug1/.cmake/api/v1/reply/cache-v2-0f5e56a2ca7f81d8b94b.json

cmake-build-debug1/.cmake/api/v1/reply/cmakeFiles-v1-c5bcaf00387cc4518f48.json

cmake-build-debug1/.cmake/api/v1/reply/codemodel-v2-655f0e046164cb8ca812.json

cmake-build-debug1/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json

cmake-build-debug1/.cmake/api/v1/reply/directory-bench-Release-921a23b3a245208c3b5e.json

cmake-build-debug1/.cmake/api/v1/reply/directory-test-Release-451c0598f41488bb20b9.json

cmake-build-debug1/.cmake/api/v1/reply/index-2023-09-06T01-45-56-0396.json

cmake-build-debug1/.cmake/api/v1/reply/target-bench_kuiper-Release-bd21a6c3435fd2271d63.json

cmake-build-debug1/.cmake/api/v1/reply/target-kuiper-Release-02d337d98da36ba0f42d.json

cmake-build-debug1/.cmake/api/v1/reply/target-test_kuiper-Release-e7d78fd864f24fa3cb4d.json

cmake-build-debug1/.cmake/api/v1/reply/toolchains-v1-99265b04de7ada3aac9e.json

cmake-build-debug1/bench/cmake_install.cmake

cmake-build-debug1/bench/CMakeFiles/bench_kuiper.dir/build.make

cmake-build-debug1/bench/CMakeFiles/bench_kuiper.dir/cmake_clean.cmake

cmake-build-debug1/bench/CMakeFiles/bench_kuiper.dir/depend.make

cmake-build-debug1/bench/CMakeFiles/bench_kuiper.dir/DependInfo.cmake

cmake-build-debug1/bench/CMakeFiles/bench_kuiper.dir/flags.make

cmake-build-debug1/bench/CMakeFiles/bench_kuiper.dir/link.txt

cmake-build-debug1/bench/CMakeFiles/bench_kuiper.dir/progress.make

cmake-build-debug1/bench/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug1/bench/CMakeFiles/progress.marks

cmake-build-debug1/bench/CTestTestfile.cmake

cmake-build-debug1/bench/Makefile

cmake-build-debug1/build.ninja

cmake-build-debug1/cmake_install.cmake

cmake-build-debug1/CMakeCache.txt

cmake-build-debug1/CMakeFiles/3.16.3/CMakeCCompiler.cmake

cmake-build-debug1/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake

cmake-build-debug1/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin

cmake-build-debug1/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin

cmake-build-debug1/CMakeFiles/3.16.3/CMakeSystem.cmake

cmake-build-debug1/CMakeFiles/3.16.3/CompilerIdC/a.out

cmake-build-debug1/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug1/CMakeFiles/3.16.3/CompilerIdCXX/a.out

cmake-build-debug1/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug1/CMakeFiles/3.26.4/CMakeCCompiler.cmake

cmake-build-debug1/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake

cmake-build-debug1/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin

cmake-build-debug1/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin

cmake-build-debug1/CMakeFiles/3.26.4/CMakeSystem.cmake

cmake-build-debug1/CMakeFiles/3.26.4/CompilerIdC/a.out

cmake-build-debug1/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug1/CMakeFiles/3.26.4/CompilerIdCXX/a.out

cmake-build-debug1/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug1/CMakeFiles/clion-Debug1-log.txt

cmake-build-debug1/CMakeFiles/clion-environment.txt

cmake-build-debug1/CMakeFiles/cmake.check_cache

cmake-build-debug1/CMakeFiles/CMakeConfigureLog.yaml

cmake-build-debug1/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug1/CMakeFiles/CMakeError.log

cmake-build-debug1/CMakeFiles/CMakeOutput.log

cmake-build-debug1/CMakeFiles/FindOpenMP/ompver_C.bin

cmake-build-debug1/CMakeFiles/FindOpenMP/ompver_CXX.bin

cmake-build-debug1/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c

cmake-build-debug1/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp

cmake-build-debug1/CMakeFiles/FindOpenMP/OpenMPTryFlag.c

cmake-build-debug1/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp

cmake-build-debug1/CMakeFiles/kuiper.dir/build.make

cmake-build-debug1/CMakeFiles/kuiper.dir/cmake_clean.cmake

cmake-build-debug1/CMakeFiles/kuiper.dir/CXX.includecache

cmake-build-debug1/CMakeFiles/kuiper.dir/depend.internal

cmake-build-debug1/CMakeFiles/kuiper.dir/depend.make

cmake-build-debug1/CMakeFiles/kuiper.dir/DependInfo.cmake

cmake-build-debug1/CMakeFiles/kuiper.dir/flags.make

cmake-build-debug1/CMakeFiles/kuiper.dir/link.txt

cmake-build-debug1/CMakeFiles/kuiper.dir/progress.make

cmake-build-debug1/CMakeFiles/kuiper.dir/source/data/load_data.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/data/tensor_utils.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/data/tensor.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/abstract/layer_factory.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/abstract/layer.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/abstract/param_layer.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/activation_sse.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/adaptive_avgpooling.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/batchnorm2d.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/cat.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/convolution.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/expression.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/flatten.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/hardsigmoid.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/hardswish.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/linear.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/maxpooling.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/relu.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/sigmoid.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/silu.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/softmax.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/upsample.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/view.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/layer/details/yolo_detect.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/parser/parse_expression.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/runtime/pnnx/ir.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/runtime/pnnx/store_zip.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/runtime/runtime_ir.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/runtime/runtime_op.cpp.o

cmake-build-debug1/CMakeFiles/kuiper.dir/source/utils/time/time_logging.cpp.o

cmake-build-debug1/CMakeFiles/Makefile.cmake

cmake-build-debug1/CMakeFiles/Makefile2

cmake-build-debug1/CMakeFiles/progress.marks

cmake-build-debug1/CMakeFiles/rules.ninja

cmake-build-debug1/CMakeFiles/TargetDirectories.txt

cmake-build-debug1/compile_commands.json

cmake-build-debug1/CTestTestfile.cmake

cmake-build-debug1/kuiper_infer.cbp

cmake-build-debug1/Makefile

cmake-build-debug1/test/cmake_install.cmake

cmake-build-debug1/test/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug1/test/CMakeFiles/progress.marks

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/build.make

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/cmake_clean.cmake

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/CXX.includecache

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/depend.internal

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/depend.make

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/DependInfo.cmake

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/flags.make

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/link.txt

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/progress.make

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_data/test_load_data.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_data/test_tensor.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_data/test_utensor.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_average_pooling.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_batchnorm.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_cat.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_conv.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_deconv.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_expression.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_flatten.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_hardsigmoid.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_hardswish.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_layer_factory.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_linear.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_maxpooling.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_param_layer.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_relu.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_reshape.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_sigmoid.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_silu.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_softmax.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_upsample.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_layer/test_view.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_main.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_net/test_classify_net.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_net/test_yolo.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_runtime/test_attr.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_runtime/test_param.cpp.o

cmake-build-debug1/test/CMakeFiles/test_kuiper.dir/test_runtime/test_runtime_ir.cpp.o

cmake-build-debug1/test/CTestTestfile.cmake

cmake-build-debug1/test/Makefile

cmake-build-debug1/test/test_kuiper

cmake-build-debug1/Testing/Temporary/LastTest.log

cmake-build-release11/bench/cmake_install.cmake

cmake-build-release11/bench/CMakeFiles/bench_kuiper.dir/build.make

cmake-build-release11/bench/CMakeFiles/bench_kuiper.dir/cmake_clean.cmake

cmake-build-release11/bench/CMakeFiles/bench_kuiper.dir/depend.make

cmake-build-release11/bench/CMakeFiles/bench_kuiper.dir/DependInfo.cmake

cmake-build-release11/bench/CMakeFiles/bench_kuiper.dir/flags.make

cmake-build-release11/bench/CMakeFiles/bench_kuiper.dir/link.txt

cmake-build-release11/bench/CMakeFiles/bench_kuiper.dir/progress.make

cmake-build-release11/bench/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-release11/bench/CMakeFiles/progress.marks

cmake-build-release11/bench/CTestTestfile.cmake

cmake-build-release11/bench/Makefile

cmake-build-release11/cmake_install.cmake

cmake-build-release11/CMakeCache.txt

cmake-build-release11/CMakeFiles/3.16.3/CMakeCCompiler.cmake

cmake-build-release11/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake

cmake-build-release11/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin

cmake-build-release11/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin

cmake-build-release11/CMakeFiles/3.16.3/CMakeSystem.cmake

cmake-build-release11/CMakeFiles/3.16.3/CompilerIdC/a.out

cmake-build-release11/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c

cmake-build-release11/CMakeFiles/3.16.3/CompilerIdCXX/a.out

cmake-build-release11/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-release11/CMakeFiles/clion-environment.txt

cmake-build-release11/CMakeFiles/clion-Release11-log.txt

cmake-build-release11/CMakeFiles/cmake.check_cache

cmake-build-release11/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-release11/CMakeFiles/CMakeError.log

cmake-build-release11/CMakeFiles/CMakeOutput.log

cmake-build-release11/CMakeFiles/FindOpenMP/ompver_C.bin

cmake-build-release11/CMakeFiles/FindOpenMP/ompver_CXX.bin

cmake-build-release11/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c

cmake-build-release11/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp

cmake-build-release11/CMakeFiles/FindOpenMP/OpenMPTryFlag.c

cmake-build-release11/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp

cmake-build-release11/CMakeFiles/kuiper.dir/build.make

cmake-build-release11/CMakeFiles/kuiper.dir/cmake_clean.cmake

cmake-build-release11/CMakeFiles/kuiper.dir/depend.make

cmake-build-release11/CMakeFiles/kuiper.dir/DependInfo.cmake

cmake-build-release11/CMakeFiles/kuiper.dir/flags.make

cmake-build-release11/CMakeFiles/kuiper.dir/link.txt

cmake-build-release11/CMakeFiles/kuiper.dir/progress.make

cmake-build-release11/CMakeFiles/Makefile.cmake

cmake-build-release11/CMakeFiles/Makefile2

cmake-build-release11/CMakeFiles/progress.marks

cmake-build-release11/CMakeFiles/TargetDirectories.txt

cmake-build-release11/compile_commands.json

cmake-build-release11/CTestTestfile.cmake

cmake-build-release11/demos/cmake_install.cmake

cmake-build-release11/demos/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-release11/demos/CMakeFiles/progress.marks

cmake-build-release11/demos/Makefile

cmake-build-release11/demos/resnet/cmake_install.cmake

cmake-build-release11/demos/resnet/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-release11/demos/resnet/CMakeFiles/progress.marks

cmake-build-release11/demos/resnet/CMakeFiles/resnet_test.dir/build.make

cmake-build-release11/demos/resnet/CMakeFiles/resnet_test.dir/cmake_clean.cmake

cmake-build-release11/demos/resnet/CMakeFiles/resnet_test.dir/depend.make

cmake-build-release11/demos/resnet/CMakeFiles/resnet_test.dir/DependInfo.cmake

cmake-build-release11/demos/resnet/CMakeFiles/resnet_test.dir/flags.make

cmake-build-release11/demos/resnet/CMakeFiles/resnet_test.dir/link.txt

cmake-build-release11/demos/resnet/CMakeFiles/resnet_test.dir/progress.make

cmake-build-release11/demos/resnet/Makefile

cmake-build-release11/demos/unet/cmake_install.cmake

cmake-build-release11/demos/unet/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-release11/demos/unet/CMakeFiles/progress.marks

cmake-build-release11/demos/unet/CMakeFiles/unet_test.dir/build.make

cmake-build-release11/demos/unet/CMakeFiles/unet_test.dir/cmake_clean.cmake

cmake-build-release11/demos/unet/CMakeFiles/unet_test.dir/depend.make

cmake-build-release11/demos/unet/CMakeFiles/unet_test.dir/DependInfo.cmake

cmake-build-release11/demos/unet/CMakeFiles/unet_test.dir/flags.make

cmake-build-release11/demos/unet/CMakeFiles/unet_test.dir/link.txt

cmake-build-release11/demos/unet/CMakeFiles/unet_test.dir/progress.make

cmake-build-release11/demos/unet/Makefile

cmake-build-release11/demos/yolo/cmake_install.cmake

cmake-build-release11/demos/yolo/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-release11/demos/yolo/CMakeFiles/progress.marks

cmake-build-release11/demos/yolo/CMakeFiles/yolo_test.dir/build.make

cmake-build-release11/demos/yolo/CMakeFiles/yolo_test.dir/cmake_clean.cmake

cmake-build-release11/demos/yolo/CMakeFiles/yolo_test.dir/depend.make

cmake-build-release11/demos/yolo/CMakeFiles/yolo_test.dir/DependInfo.cmake

cmake-build-release11/demos/yolo/CMakeFiles/yolo_test.dir/flags.make

cmake-build-release11/demos/yolo/CMakeFiles/yolo_test.dir/link.txt

cmake-build-release11/demos/yolo/CMakeFiles/yolo_test.dir/progress.make

cmake-build-release11/demos/yolo/Makefile

cmake-build-release11/kuiper_infer.cbp

cmake-build-release11/Makefile

cmake-build-release11/test/cmake_install.cmake

cmake-build-release11/test/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-release11/test/CMakeFiles/progress.marks

cmake-build-release11/test/CMakeFiles/test_kuiper.dir/build.make

cmake-build-release11/test/CMakeFiles/test_kuiper.dir/cmake_clean.cmake

cmake-build-release11/test/CMakeFiles/test_kuiper.dir/depend.make

cmake-build-release11/test/CMakeFiles/test_kuiper.dir/DependInfo.cmake

cmake-build-release11/test/CMakeFiles/test_kuiper.dir/flags.make

cmake-build-release11/test/CMakeFiles/test_kuiper.dir/link.txt

cmake-build-release11/test/CMakeFiles/test_kuiper.dir/progress.make

cmake-build-release11/test/CTestTestfile.cmake

cmake-build-release11/test/Makefile

cmake-build-release11/Testing/Temporary/LastTest.log

.config/clangd/config.yaml

331/bench/CMakeFiles/bench_kuiper.dir/CXX.includecache

331/bench/CMakeFiles/bench_kuiper.dir/depend.internal
