name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: hellofss/kuiperinfer:latest

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: echo ${{github.workspace}} && cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -- -j 3

    - name : Show
      run: ls

    - name: Test
      working-directory: ${{github.workspace}}
      run: cd .. && /home/runner/work/KuiperInfer/KuiperInfer/build/test/test_kuiper

